#UpcomingBookings
{
  text-align:center;
  border-radius:25px;
  width:39vw;
  height:40vh;
  background-color:rgba(237, 186, 186, 0.68); 
}

#UpcomingBookingsHeadline
{
  font-size:25px;
  font-family:Poppins;
}