.Subscribe {
  height: 100%;
  background-color: #ede4dd;
  border-radius: 25px;
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;

  font-weight: 400;
  padding-top: 10px;
}

.title {
  margin-left: 20px;
  margin-right: 20px;
}

.time-slot {
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

select {
  background-color: #d27b7b;
  border-radius: 27px;
  color: #fff;
  padding: 8px 20px;
  text-decoration: none;
  margin: 15px;
}

.time-slot input {
  width: 15px;
}

.trainer {
  display: flex;
  gap: 10px;
}

.time-slotChild {
  display: flex;
}

.charges {
  margin-left: 40px;
  display: flex;
  gap: 20px;
}

.prices {
  background-color: #edbaba;
  border-radius: 27px;
  color: #000;
  padding: 8px 20px;
  text-decoration: none;
  margin: 15px;
}

.paid {
  margin-left: 40px;
  display: flex;
}

.paid input {
  border-radius: 27px;
  color: #000;
  padding: 8px 20px;
  text-decoration: none;
  margin: 15px;
  background-color: rgb(215, 215, 215);
}

.apply {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;

  font-weight: 400;
}
.apply button {
  border-radius: 20px;
  color: #fff;
  padding: 0px 25px;
  font-family: "Poppins", sans-serif;
  border: solid 5px green;
  background-color: green;
}

button:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: 250ms;
  background-color: #ddd;
  color: black;
}


