@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
}

.center-text > h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #000000;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1rem;
}

.center-text > h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #000000;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 18px;
}

.profile-image img {
  margin-top: 10px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.cross {
  display: flex;
  margin-top: 20px;
  margin-right: 20px;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-menu {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: bold;
  height: 100vh;
  width: 25%;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  min-width: 250px;
  background-color: rgb(43, 38, 38);
  padding-left: 1px;
  z-index: 30;
}
.mainlist {
  padding-left: 20px;
  padding-top: 15px;
}
.section {
  color: #9f9595;
  list-style-type: none;
}

.SidebarList {
  height: auto;
  padding-left: 10px;
  color: white;
  list-style-type: none;
}
.row:hover {
  cursor: pointer;
  background-color: rgb(22, 17, 17);
}

.row {
  border-radius: 10px;
}

.navbar button {
  background-color: #ff9898;
  color: #000000;
  border: none;
  font-weight: 700;
  font-family: "Poppins";
  font-style: normal;
  font-size: 20px;
  border-radius: 25px;
  width: 8vw;
  height: 4vh;
  transition: 0.5s;
  margin-top: 4vh;
  margin-left: 3vw;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  font-weight: 700;
  font-family: "Poppins";
  font-style: normal;
  font-size: 20px;
  border-radius: 25px;
  transition: 0.5s;
  cursor: pointer;
}
