.date_time_picker {
    position: absolute;
    height: 35px;
    width: 24vw;
  }

  .custom_in{
    position: absolute;
    background: #d9d9d9;
    outline: none;
    border-radius: 25px;
    text-align: center;
    left: 0px;
    top: 0px;
    width: 24vw;
    height: 35px;
  }

  .e-input-group input.e-input, .e-input-group.e-control-wrapper input.e-input, .e-input-group textarea.e-input, .e-input-group.e-control-wrapper textarea.e-input {
    position: absolute;
    background: #d9d9d9;
    outline: none;
    border-radius: 25px;
    text-align: center;
    left: 0px;
    top: 0px;
    width: 24vw;
    height: 35px;
  }

  .time_input{
    position: absolute;
    background: #d9d9d9;
    outline: none;
    border-radius: 25px;
    text-align: center;
    left: 0px;
    top: 0px;
    width: 24vw;
    height: 35px;
    color: black;
}