.coach-postworkshop-container {
  position: relative;
  max-height: 540px;
  overflow-y: scroll;
  width: 74vw;
  background-color: #f5e9e9;
  border-radius: 25px;
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  left: 3vw;
  top: 20px;
  font-weight: 400;
  padding-top: 10px;
}
.errs {
  position: relative;
  margin-left: 10vw;
  color: red;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}
.heading-page {
  position: relative;
  margin-top: 30px;
  margin-left: 10vw;
  justify-content: space-between;
}
.coach_input_large {
  position: relative;
  margin-top: 30px;
  margin-left: 10vw;
  justify-content: space-between;
  background-color: #d9d9d9;
  border-radius: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  min-height: 5vh;
  width: 70%;
  border: none;
  padding-left: 20px;
  color: #000000;
  /* Rectangle 188 */
}

.coach_input_select_large {
  position: relative;
  margin-top: 30px;
  margin-left: 10vw;
  justify-content: space-between;
  background-color: #d9d9d9;
  border-radius: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  min-height: 5vh;
  width: 70%;
  border: none;
  padding-left: 20px;
  color: #000000;
  /* Rectangle 188 */
}

.coach_input_small {
  position: relative;
  justify-content: space-between;
  background-color: #d9d9d9;
  border-radius: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  height: 5vh;
  width: 30%;
  border: none;
  padding-left: 20px;
  color: #000000;
  /* Rectangle 188 */
}

.coach_equipment_selector {
  padding-top: 20px;
  max-height: 200px;
  min-height: 20vh;
  overflow-y: scroll;
}
.coach_equipment_selector_equipment {
  position: relative;
  gap: 2vw;
  margin-left: 10vw;
  display: flex;
}

.coach_equipment_selector_equipment h3 {
  min-width: 100px;
  position: relative;
  top: -1vh;
}

.coach-postworkshop-container button {
  margin: auto;
  text-align: center;
  position: relative;
  border: none;
  background: #22992e;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 30px;
  width: 20vw;
  min-height: 40px;
  border-radius: 25px;
  transition-duration: 0.3s;
}

.coach-postworkshop-container button:hover {
  background: #8eea97;
  color: #000000;

  cursor: pointer;
}
