.tutorial {
  display: flex;
  justify-content: flex-start;
}

.tutorial button {
  background: #ee6d6d;
  border-radius: 25px;
  border: none;
  width: 110px;
  color: white;
  font-family: "Poppins";
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
