.booking-options {
  margin-top: 5%;
  margin-right: 10vw;
  position: center;
  display: flex;
  justify-content: center;
}

.booking-options li {
  width: 200px;
  list-style: none;
  margin-left: 2%;
  margin-right: 2%;
}

.booking-options li a {
  display: block;

  color: black;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.booking-options li button {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 20px;

  box-sizing: border-box;
  width: 100%;
  background: rgba(238, 109, 109, 0.2);
  border: 1px solid #ee6d6d;
  border-radius: 25px;
  transition: 0.5s;
}

.booking-options li button:hover {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 20px;

  box-sizing: border-box;
  width: 100%;
  background: rgba(238, 109, 109, 0.574);
  border: 1px solid #ee6d6d;
  border-radius: 25px;
}
