@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#pending
{
  background-color:rgb(255,130,14);
  color:white;
  font-family:Poppins;
  font-weight:bold;
  font-size:15px;
  width:134px;
  height:38px;
  border-radius: 25px;
  border:none;
}
#accepted
{
  background-color:rgb(34,153,46);
  color:white;
  font-family:Poppins;
  font-weight:bold;
  font-size:15px;
  width:134px;
  height:38px;
  border-radius: 25px;
  border:none;
}


#rejected
{
  background-color:rgb(217,0,0);
  color:white;
  font-family:Poppins;
  font-weight:bold;
  font-size:15px;
  width:134px;
  height:38px;
  border-radius: 25px;
  border:none;
}
