@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#mainTableDiv
{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:15px;
    font-family:Poppins;
    align-items:center;
    margin:20px;
}
#websiteTableHeader
{
    width:50%;
    background-color:rgba(237, 186, 186, 0.68); 
    text-align:center;
    border-radius:25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
#websiteTableContent
{
    width:50%;
    background-color:rgba(224, 217, 217, 0.70);
    text-align:center;
    border:1px solid #FF0000;
    border-radius:25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

#websiteTableHeader td
{
    padding:10px;
    font-size:20px;
    font-weight:bold;
    height:3vh;
}

#websiteTableContent td
{
    padding:10px;
    height:1vh;
    font-weight:bold;
    font-size:15px;
}