.Viewshow {
    /* background-color: #edbaba; */
    height: 200px;
    background-color: #ede4dd;
    border-radius: 25px;
    font-family: "Poppins", sans-serif;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 400;
    position: relative;
    padding : 20px;
  }
  
  .wrapper {
    /* position: absolute; */
    top: 10px;
    left: 15px;
    display: flex;
    flex-direction: row;
  }
  
  .img2 {
    height: 175px;
    border-radius: 40%;
    border: solid 2px white;
    float: right;
    margin: 10px;
  }
  
  .img2:hover {
    transform: scale(1.01);
    transition: 250ms;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .wrapper p {
    font-weight: normal;
  }
  
  .wrapper2 {
    position: relative;
    left: 20px;
    top: 20px;
  }
