.leaderboard {
  /* Rectangle 190 */

  position: center;
  margin-left: 40px;
  max-height: 510px;
  padding-top: 40px;
  margin-right: 40px;
  margin-top: 40px;
  overflow: hidden;
  overflow-y: scroll;

  background: rgba(255, 255, 255, 0.33);
  border-radius: 25px;
}
.leaderboard table {
  max-height: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 100%;

  text-align: center;

  font-size: 20px;
}
.leaderboard thead {
  margin-top: 40px;
  position: center;
  width: auto;
  font-weight: bold;
  line-height: 4rem;
  font-family: "Poppins";
}

.leaderboard th {
  /* position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1; */
  background: rgb(237, 186, 186);
  border-radius: 25px;
}

.leaderboard tbody {
  max-height: 300;
  position: center;
  line-height: 3rem;
  width: auto;
  font-weight: 500;
  font-family: "Poppins";
}

.leaderboard td {
  line-height: 4rem;
}

.head-text {
  position: relative;
}

.text-on-image {
  position: absolute;
  text-align: center;

  left: 48%;
  bottom: 0%;
}

.BadmintonLeaderboardSearch
{
  display:flex;
  flex-direction:row;
  justify-content:center;
  gap:20px;
  height:4vh;
}

.BadmintonLeaderboardSearch h3
{
  font-size: 20px;
  font-weight: bold;
  margin-top:-1px;
}

.BadmintonLeaderboardSearch input
{
  width: 20%;
  height: 4vh;
  border-radius: 25px;
  border: 1px solid #ff0000;
  padding-left: 10px;
  font-size: 20px;
}

.BadmintonLeaderboardSearch button
{
  width: 20%;
  height: 4vh;
  border-radius: 25px;
  border: 1px solid #ff0000;
  background-color: #ff0000;
  color: white;
  font-size: 20px;
}
