@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
/* @font-face {
  font-family: "Daydream";
  src: url(src/assets/fonts/daydream.ttf) format("ttf");
} */
body {
  font-family: "Poppins", sans-serif;
}

.login-container-master-div {
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  width: 60vw;
  background-color: #faf0f8;
  height: 60vh;
}

.login-container-master {
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  width: 60vw;
  background-color: #faf0f8;
  height: 60vh;
}
.login-container {
  background-color: #faf0f8;
  height: 100%;
  background: url("../assets/login_image.png");
  background-size: cover;
  /* background-position: right;
  background-repeat: no-repeat; */
}

.login-text {
  font-weight: 100;
}

.login-content {
  margin-top: 30vh;
}
.login-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 50%;
  text-align: left;
  margin-left: 5%;
}
.login-select {
  background-color: rgb(215, 215, 215);
  border-radius: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  opacity: 1;
  font-size: 20px;
  line-height: 15px;
  border: none;
  padding-left: 20px;
  color: #1b1a1a;
  opacity: 80%;
  margin-left: 5%;
  margin-bottom: 2%;
}

.login-inputs input {
  background-color: #d9d9d9;
  border-radius: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  height: 5vh;
  width: 70%;
  border: none;
  padding-left: 20px;
  color: #000000;
}

.login-input2 {
  display: flex;
  width: 72%;
  gap: 5%;
}
form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.login-input2 input[type="password"] {
  padding-left: 20px;
  width: 50%;
}

.login-input3 input[type="password"] {
  display: flex;
  width: 50%;
  gap: 5%;
}

.login-inputs input::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  color: #000000;
}

.login-submit-container {
  display: flex;
  width: 30vw;
  height: 5vh;
  cursor: pointer;
  border-radius: 25px;
  margin-top: 20px;
  margin-left: 5%;
  overflow: hidden;
  gap: 5%;
}

.login-submit-container :hover {
  color: #faf0f8;
  /* background-color: #c14ede; */
}

.login-submit-container button {
  background-color: #d292e2;
  border: none;
  font-weight: 700;
  font-family: "Poppins";
  font-style: normal;
  font-size: 20px;
  border-radius: 25px;
  width: 40%;
  padding-left: 5%;
  transition: 0.5s;
  cursor: pointer;
  padding-right: 5%;
}

.login-submit-container button:hover {
  background-color: #c14ede;
}

.login-submit-container .login-submit-forgot {
  background-color: #d292e2;
  border: none;
  font-weight: 700;
  font-family: "Poppins";
  font-style: normal;
  font-size: 17px;
  border-radius: 25px;
  width: 80%;
  padding-left: 2%;
  transition: 0.5s;
  cursor: pointer;
  padding-right: 2%;
}

.login-submit-container .login-submit-2 button {
  font-size: 20px;
}

.superadmin-drop-down {
  margin-bottom: 3vw;
  margin-left: 4vw;
  height: 40%;
  background-color: rgb(215, 215, 215);
  border-radius: 20px;
  font-family: "Poppins";
}
