@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.active-booking-form-squash {
  width: auto;
  overflow: hidden;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.33);
  font-family: "Poppins";
  position: center;
  margin-left: 10vw;
  padding-top: 4vh;
  margin-right: 5vw;
  margin-top: 4vh;
  width: 80%;

  border-radius: 2vw;
}

.active-booking-form-squash .booking-area {
  width: 80%;
}

.active-booking-form-squash .play-area {
  display: flex;
  justify-content: space-between;
}

.active-booking-form-squash .drop {
  display: flex;
  gap: 5vw;
}

.active-booking-form-squash .labeeels {
  font-size: 2.5vh;
  font-weight: bold;
  margin-left: 7vw;
  color: #000000;
}

.active-booking-form-squash .players-list {
  display: flex;
  flex-direction: row;
}

.active-booking-form-squash .show_cont {
  margin-left: 2vw;
}

.active-booking-form-squash .buttonContainer {
  display: flex;
  gap: 2vw;
  justify-content: center;
  margin-bottom: 1vw;
  margin-top: 5vw;
  margin-left: 2vw;
}

.active-booking-form-squash .orangeButtonnn {
  background-color: orange;
  cursor: pointer;
  width: 10vw;
  height: 3.3vw;
  border-radius: 2.5vw;
  color: white;
  border: none;
  font-size: 2vh;
  font-weight: bold;
}

.active-booking-form-squash .orangeButton:hover {
  background-color: darkorange;
}

.active-booking-form-squash .greenButtonnn {
  width: 10vw;
  height: 3.3vw;
  border-radius: 2.5vw;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 2vh;
  font-weight: bold;
}

.active-booking-form-squash .greenButtonn:hover {
  background-color: #45a049;
}

.active-booking-form-squash .redButton {
  width: 10vw;
  height: 3.3vw;
  border-radius: 2.5vw;
  background-color: #ff0000;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin-left: 4vw;
  align-items: center;
}

.active-booking-form-squash .redButton:hover {
  background-color: #cc0000;
}

.active-booking-form-squash .drop-down {
  margin-bottom: 3vw;
  margin-left: 4vw;
  height:40%;
  background-color: rgb(215, 215, 215);
  border-radius:20px;
  font-family:"Poppins";
}


.active-booking-form-squash .select{
  display:flex;
  /* padding-top:10%; */
}
.active-booking-form-squash .show_cont{
  height:80%;
  background-color: rgb(215, 215, 215);
  border-radius:20px;
}

.active-booking-form-squash .pre-check{
  padding-top:4%;
}

