.wrapperStyle {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 50vh;
  margin-top: -30px;
}
.nav-hockey {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  position: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-hockey ul {
  display: flex;
  justify-content: space-between;
}

.nav-hockey ul li {
  list-style: none;
}

.nav-hockey ul li:last-child {
  margin-right: 0;
}

.nav-hockey ul li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.nav-hockey ul li button {
  height: 40px;
  width: 25vw;
  background: rgba(237, 186, 186, 0.33);
  border-radius: 10px;
  border: none;
  font-size: 16px;
  transition: 0.1s;
  font-family: "Poppins";
}

.nav-hockey ul li button:hover {
  background: rgba(237, 186, 186, 0.5);
}
