@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#NewsArticle
{
    background-color:rgb(237, 186, 186, 0.93);
    width:80vw;

    display:grid;
    grid-template-rows:0.125fr 1fr 0.125fr;
    grid-template-columns:1fr 8fr 1fr;
    align-self:center;
    font-family:Poppins;
    border-radius: 25px;
}

#NewsArticleHeading
{
    height:100%;
    text-align:center;
    grid-column-start: 2;
}

#NewsArticleContent
{
    height:fit-content;
    background-color: rgb(217,217,217,0.19);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    border-radius: 25px;
    gap:5%;
    max-height: 50vh;
    padding-top: 1vh;
    padding-bottom: 2vh;
    
}

#NewsArticleImageDiv
{
    width:30%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-left:5%;
}

#NewsArticleTextDiv
{
    width:70%;
    align-items: center;
    text-align: justify;
    margin-right:5%;
    max-height: 50vh;
    overflow-y: scroll;
}


img
{
    align-self:center;
    justify-self:center;
    border-radius: 25px;
    width:100%;
    height:100%;
}
p
{
    align-self:center;
}
