
#Headline
{
  font-size:60px;
  font-family:Poppins;
  align-self:center;
  font-family:Poppins;
}

#HeadlineButton
{
  width:40%;
  height:10%;
  font-size:20px;
  font-family:Poppins;
  border-radius: 25px;
  font-weight:bold;
  background-color:D9D9D9;
  align-self:center;
  border:none;
}