@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#mainTableDiv
{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:10px;
    font-family:"Poppins";
    height:auto;
    align-items:center;
}

.table-header{
    padding:20px;
    width:90%;
    padding-bottom:5px;
}

.table-data{
    padding-top:5px;
    padding:20px;
    width:90%;
}


#websiteTableHeader
{
    width:100%;
    background-color:rgba(237, 186, 186, 0.68); 
    text-align:center;
    border-radius:25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

#websiteTableContent
{
    width:100%;
    background-color:rgba(224, 217, 217, 0.70);
    text-align:center;
    border:1px solid #FF0000;
    border-radius:25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}


#websiteTableHeader td
{
    padding:10px;
    font-size:25px;
    font-weight:bold;
    height:3vh;
}


#websiteTableContent td
{
    padding:15px;
    padding-left:0px;
    padding-right:0px;
    height:1vh;
    font-weight:bold;
    font-size:15px;
}
/* 
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#mainTableDiv {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  font-family: "Poppins";
  margin-top: 5vh;
  align-items: center;
}

#websiteTable {
  width: 90%;
  text-align: center;
  gap: 40px;
}

#websiteTable td {
  width: 30vw;
}

.websiteTableHeader {
  font-size: 20px;
  background-color: rgba(237, 186, 186, 0.68);
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
  justify-content: space-between;
  display: flex;
}

.websiteTableHeader thead {
  position: center;
  width: auto;
  font-weight: bold;
  line-height: 3rem;
  font-family: "Poppins";
}

.websiteTableContent {
  margin-top: 40px;
  font-weight: 600;
  border: 1px solid #ff0000;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.websiteTableContent td {
  line-height: 3rem;
} */
