@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.yoga-postblog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap : 10%;
}
.yoga-postblog-container .title {
  color: black;
  position: relative;
  left: -30vw;
  top: 1vh;
}

.yoga-postblog-container .input-container{
  position: absolute;
  margin-top: -8%;
  width: 90%;
  height: 70%;
  left: 89px;
  top: 175px;
  background-color: rgba(255, 255, 255, 0.33);
  border-radius: 25px;
}

.yoga-postblog-container .session_name{
  font-size: 15px;
  border-radius: 25px;
  background-color: #D9D9D9;
  margin-top: 3%;
  border: none;
  width: 85%;
  height: 40px;
  margin-left: 30px;
  padding-left: 1%;
  float: left;
}

.yoga-postblog-container .location,.batch_size{
  font-size: 15px;
  border-radius: 25px;
  background-color: #D9D9D9;
  margin-top: 3%;
  border: none;
  width: 45%;
  height: 40px;
  margin-left: 30px;
  padding-left: 1%;
  float: left;
}
.yoga-postblog-container .title{
font-family: 'Poppins';
  font-size: 30px;
  font-weight:bold;
}

.yoga-postblog-container .content_1{
  font-size: 15px;
  text-align:left;
  vertical-align: top;
  border-radius: 25px;
  background-color: #D9D9D9;
  margin-top: 3%;
  margin-left: 30px;
  border: none;
  width: 80%;
  height: 150px;
  padding-left: 1%;
  float: left;
}
.yoga-postblog-container .startTime{
  margin-left: 30px;
}
.yoga-postblog-container .endTime{
  float: right;
}

.yoga-postblog-container input::placeholder{
  color: #000000;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}


.yoga-postblog-container .booking-toggle.active {
  box-sizing: border-box;

  position: absolute;
  width: 125px;
  height: 25px;
  left: 177px;
  top: 164px;

  background: rgba(238, 109, 109, 0.9);
  border: 1px solid #ee6d6d;
  border-radius: 25px;
}

.yoga-postblog-container .booking-details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.yoga-postblog-container .time-slot,.playmates {
  margin-bottom: 5px;
  font-weight: bold;
}

.yoga-postblog-container .user-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* .user-actions button {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
} */

.yoga-postblog-container .button-container {
  float: right;
  margin-top: 3%;
  margin-right: 20vw;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 1vw;
}

.yoga-postblog-container .button-container Button {
  width: 6vw;
}

