.wrapperStyle {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin-top: -30px;
  }
  .nav {
    margin-left: 10%;
    margin-right: 10%;
    display: absolute;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav ul {
    display: flex;
    /* justify-content: space-between; */
    gap:30px;
  }
  
  .nav ul li {
    list-style: none;
  }
  
  .nav ul li:last-child {
    margin-right: 0;
  }
  
  .nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
  }
  
  .nav ul li button {
    height: 50px;
    width: 18vw;
    background: rgba(237, 186, 186, 0.33);
    border-radius: 10px;
    border: none;
    transition: 0.5s;
    font-size:20px;
    font-family: "Poppins";
    font-weight: 500;
  }
  
  .nav ul li button:hover {
    background: rgba(237, 186, 186, 0.5);
  }
  