.coach-reservecourt-container {
    position: relative;
    height: 540px;
    width: 74vw;
    background-color: #f5e9e9;
    border-radius: 25px;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;

    left: 3vw;
    top: 20px;
    font-weight: 400;
    padding-top: 10px;
  }
  
  .coach-reservecourt-container .workshop {
    position: absolute;
    width: 28vw;
    height: 35px;
    left: 23vw;
    top: 100px;
  
    background: #d9d9d9;
    outline: none;
    border-radius: 25px;
    text-align: center;
    /* Rectangle 188 */
  }
  
.coach-reservecourt-container .dash{
  position: absolute;

  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  /* line-height: 80px; */
  text-align: center;

  color: #4E4A4A;
}
