@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#page{
font-family:Poppins;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  
  .sec {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .labels {
    font-size: 18px;
    font-weight: bold;
    margin-right: 50px;
    color: #000000;
  }
  
  .input {
    font-size: 16px;
    border-radius: 25px;
    background-color: #C4C4C4;
    padding: 10px;
    border: none;
  }
  
  .button-container {
    margin: 0 auto;
  }
  