.gymstatistics-container {
  background: rgba(255, 255, 255, 0.33);
  border-radius: 25px;
  left: 5%;
  top: 5%;
  right: 5%;
  bottom: 5%;
  position: absolute;
  overflow-y: scroll;
}
.choice-enrollment {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.choice-enrollment h2 {
  justify-self: center;
  text-align: center;
  height: 5vh;
  padding-top: 2vh;
}

.choice-enrollment select {
  background-color: #d9d9d9;
  border-radius: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
.gymstatistics-charts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 2vw;
  gap: 2vh;
  margin-top: 2vh;
}

.workshop-details-pie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
