@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.gym-reserve-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap : 10%;
}

.gym-reserve-container .input-container .text {
  font-family: Poppins;
  position: relative;
  top: 1vh;
  text-align: center;
  font-size: 2vh;
}

.gym-reserve-container .input-container{
  position: absolute;
  margin-top: -10%;
  width: 90%;
  height: 70%;
  left: 89px;
  top: 175px;
  background-color: rgba(255, 255, 255, 0.33);
  border-radius: 25px;
}

.gym-reserve-container .slot,.batch_size{
  font-size: 15px;
  border-radius: 25px;
  background-color: #D9D9D9;
  margin-top: 3%;
  border: none;
  width: 45%;
  height: 40px;
  margin-left: 30px;
  padding-left: 1%;
  float: left;
}
.gym-reserve-container .dates{
  border: none;
  width: 100%;
  height: 40px;
  margin-left: 30px;
  text-align: center;
  margin-top: 10%;
  margin-left: -2px;
  display: flex;
  color: #000000; 
}
.gym-reserve-container .startDate,.endDate {
  position: relative;
  font-size: 15px;
  border-radius: 25px;
  background-color: #D9D9D9;
  border: none;
  width: 40%;
  height: 40px;
  margin-left: 30px;
  padding-left: 1%;
}

.gym-reserve-container .startDate{
  float:left;
}
.gym-reserve-container .endDate{
  float : right;
  margin-right: 3%;
}
.gym-reserve-container .time{
  display: flex;
  border: none;
  width: 30%;
  height: 40px;
  text-align: center;
  margin-top: 2vw;
  margin-left: -2px;
  color: #000000;
}
.gym-reserve-container .startTime,.endTime{
  font-size: 15px;
  border-radius: 25px;
  background-color: #D9D9D9;
  border: none;
  width: 30%;
  height: 40px;
  padding-left: 4%;
  float: left;
}
.gym-reserve-container .startTime{
  margin-left: 30px;
}
.gym-reserve-container .endTime{
  float: right;
}

.gym-reserve-container input::placeholder{
  color: #000000;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}


.gym-reserve-container .booking-toggle.active {
  box-sizing: border-box;

  position: absolute;
  width: 125px;
  height: 25px;
  left: 177px;
  top: 164px;

  background: rgba(238, 109, 109, 0.9);
  border: 1px solid #ee6d6d;
  border-radius: 25px;
}

.gym-reserve-container .booking-details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.gym-reserve-container .time-slot,.playmates {
  margin-bottom: 5px;
  font-weight: bold;
}

.gym-reserve-container .user-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}



.gym-reserve-container .button-container {
  float: right;
  margin-right: 20vw;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.gym-reserve-container .button-container Button {
  height: 5vh;
}

