.Tutorials {
  font-family: "Poppins", sans-serif;

  font-weight: 400;
}

h3 {
  display: inline;
}

.heading {
  display: flex;

  background-color: #edbaba;
  border-radius: 29px;
  color: #000;
  padding: 0px 10px;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.data {
  height: 50vh;
  background-color: #ede4dd;
  border-radius: 29px;
}

.topic {
  display: flex;
  width: calc(100% / 3);
  justify-content: center;
}

.author {
  display: flex;
  width: calc(100% / 3);
  justify-content: center;
}

.link {
  display: flex;
  width: calc(100% / 3);
  justify-content: center;
  align-items: center;
}

.list-item {
  display: flex;

  background-color: rgb(215, 215, 215);
  border-radius: 29px;
  color: #000;
  padding: 0px 10px;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  background-color: #eca3a3;
  border-radius: 50px;
  border: solid #eca3a3 5px;
  color: white;
  max-width: 200px;
}
